*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal; 
    font-weight: 400;
    line-height: 18px;
    color: #5D5A88;
}

  .header{
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav{
    display: flex;
    justify-items: center;
    gap: 20px;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0rem 2rem 0rem 2rem;
    flex-wrap: wrap;
  }

  .WhatsApp_btn {
    display: inline-block;
    /* background-color: #128C7E; Cor oficial do WhatsApp */
    color: #128C7E;
    text-decoration: none;
    padding: 10px 20px;
    border-color: #128C7E;
    border-radius: 30px;
    border: solid 1px;
}

.WhatsApp_btn:hover {
    background-color: #25d366; /* Cor de realce no hover */
    color: aliceblue;
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 70vh;
  margin-left: 5%;
  margin-right: 5%;
  background-position: center;
  background-image: url('/assets/img/banner.jpg');
  background-size: cover; /* Isso redimensiona a imagem para cobrir todo o elemento */
  border-radius: 30px;
}

.banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(26, 26, 26, 0.5);
  border-radius: 30px;
}

h1{
  z-index: 2;
  position: relative;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

h2{
  z-index: 2;
  position: relative;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  margin-top: 1rem;
}

button{
  z-index: 2;
  position: relative;
  background-color: rgba(26, 26, 26, 0.5);
  border-color: aliceblue;
  color: aliceblue;
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
}

button:hover{
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-color: black;
}