*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal; 
    font-weight: 400;
    line-height: 18px;
    color: #5D5A88;
}

:root{
  --card1-bg-image: url('../assets/img/1.png');
  --card2-bg-image: url('../assets/img/2.png');
  --card3-bg-image: url('../assets/img/3.png');
  --card4-bg-image: url('../assets/img/4.png');
  --card5-bg-image: url('../assets/img/5.png');
  --card6-bg-image: url('../assets/img/6.png');
}

  .header{
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    margin-bottom: 50px;
    border-top: solid 10px #5D5A88;
  }

  .logo{
    width: 100px;
  }

  .footer{
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    border-bottom: solid 10px #5D5A88;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  .container{
    position: relative;
    min-height: 100vh;
  }

a{
text-decoration: none;
  }

 .nav{
    display: flex;
    justify-items: center;
    gap: 20px;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0rem 2rem 0rem 2rem;
    flex-wrap: wrap;
  }

  .nav a {
    text-decoration: none;
    position: relative;
  }
  
  .nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 3px; 
    background-color: #5D5A88; 
    transform: scaleX(0); 
    transform-origin: center;
    transition: transform 0.2s; 
  }
  
  .nav a:hover::after {
    transform: scaleX(1); 
  }

  .WhatsApp_btn {
    display: inline-block;
    /* background-color: #128C7E; Cor oficial do WhatsApp */
    color: #128C7E;
    padding: 10px 20px;
    border-color: #128C7E;
    border-radius: 30px;
    border: solid 1px;
}

.WhatsApp_btn:hover {
    background-color: #25d366; /* Cor de realce no hover */

    transform: scale(1.2);
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1440px;
  height: 70vh;
  margin:auto;
  background-position: center;
  background-image: url('/assets/img/RAFAELLO BANNER.png');
  background-size: cover; /* Isso redimensiona a imagem para cobrir todo o elemento */
  border-radius: 30px;
}

.banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(26, 26, 26, 0.5);
  border-radius: 30px;
}

h1{
  z-index: 2;
  position: relative;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

h2{
  z-index: 2;
  position: relative;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1rem;
  text-align: center;
  margin-top: 1rem;
}

h3{
  color: #5D5A88;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.cta_banner{
  z-index: 2;
  position: relative;
  background-color: rgba(26, 26, 26, 0.5);
  border-color: aliceblue;
  color: aliceblue;
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
}

.cta_banner:hover{
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border-color: black;
}

.flex_response {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kpi-section {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;;
}

.metric_box {
  margin-bottom: 30px;
  width:15%;
  text-align: center;
  margin: auto;
}

.kpi {
  min-height: 200px;
  margin: auto;
  display: flex;
}

.kpi-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;
}

.text-align {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.kpi-value {
  font-size: 2rem;
  font-weight: 100;
}

.cards_space{
  margin: 50px auto;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  
}

.card {
  max-width: 25ch;
  position: relative;
  color: aliceblue;
  background-size: contain;
  border: solid 5px #fff;
  transition: border 0.3s ease; /* Adiciona uma transição para suavizar a mudança de cor da borda */
}

.card:hover {
  border: 5px solid #fff; /* Define uma borda sólida transparente */
  border-image: linear-gradient(to right, #5D5A88, #b1b4b3); /* Adiciona um gradiente à borda */
  border-image-slice: 20; /* Ajusta a largura do gradiente para corresponder ao border-radius */
}


.card_titlle{
  font-weight: 700;
  padding: 50px 30px;
}

.card_description{
  font-size: small;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 10px 30px;
}

.card_titlle, .card_description{
  color: aliceblue;
  text-align:justify;

}

.card1 {
  background-image: var(--card1-bg-image);
}

.card2 {
  background-image: var(--card2-bg-image);
}

.card3 {
  background-image: var(--card3-bg-image);
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #5D5A88;
  border-radius: 50px;
  color: #fff;
  border: none
}

.cta_section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 1200px;
  margin:   auto;
  padding: 5vh 5vh 25vh 5vh;
}

.h3_cta{
  text-align: left;
}

.formContact{
  display: flex;
  width: 800px;
  height: 50vh;
  margin: auto;
  overflow: auto;
}

.contactus{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 3rem;
}
.CTAContact{
  font-size: 32px;
  font-weight: 700;
}

.mail, .phone, .adress{
  display: flex;
  align-items: center;
  gap: 6px;
}

.formArea{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formSubmit{
  padding: 2rem;
  top: 150px;
  width: 45rem;
  border-radius: 25px;
  background: #F2F1FA;
}

.inputs{
  width: 100%;
  height: 2rem;
  padding-left: 1rem;
  border-radius: 50px;
  border: solid 2px transparent;
}

.inputs::placeholder, #message::placeholder{
  color: #b1b4b3;
}

.inputs:hover, #message:hover {
  border-color: #5D5A88;
}

#message{
  padding-left: 1rem;
  border-radius: 5px;
  border: solid 2px transparent;
  height: 10ch;
}

@media (max-width: 700px) {
  .flex_response {
    flex-direction: column;
  }

  .metric_box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    width: 1200px;
  }

  .cta_footer{
    padding: 1vh 15vh;
    margin: auto;
  }

  .h3_cta{
    line-height: 2rem;
   }

  .logo{
    width: 100px;
  }

  .header , .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }
}

@media (max-width: 1799px) {
  .h3_cta{
    line-height: 1.7rem;
   }

   .cta_footer{
    padding: 1vh 15vh;
    margin: auto;
  }

}

@media (max-width: 1440px) {
  .banner {
    width: 90%;
    margin: auto;
  }
}

